.postEditElement{
    background-color: white;
    padding: 1rem;
    z-index: 125;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.postEditElement_overlay{
    background-color: #c0c0c0;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.96;
}
.postEditElement input{
    width: 50%;
}
.postEditElement textarea{
    min-height: 6rem;
}